#MYorders {
    position: relative;
    top: 20vh;
}

.ordertop {
    top: 15vh;
    margin: 0px 62px;
    display: flex;
    flex-direction: column;
    row-gap: 23px;
} 

.ordertop h2 {
    color: green;
}

.orderProducts {
    display: flex;
    flex-direction: row;
    column-gap: 15vw;
    margin: inherit;
}

.orderProducts img {
    width: 10%;
    border: 2px solid;
}